.nav {
  @apply fixed bg-gray-sidebar bottom-0 w-full z-10 md:w-56 md:left-0 md:top-0 md:h-screen;
}

.nav__inner {
  @apply h-full md:pr-2 md:py-5 md:h-auto;
}

.nav__list {
  @apply h-full flex justify-center md:block md:justify-normal md:h-auto;
}

.nav__item--active {
  @apply border-b-4 border-main-green pb-2 md:pb-4 md:pl-5 md:border-l-4 md:border-b-0;
}

.nav__link--active {
  @apply opacity-100;
}

.nav__img {
  @apply w-5 h-5 md:w-4 md:h-4;
}

.nav__name {
  @apply block font-bold text-sm;
}

.header__inner {
  @apply relative pt-8 pb-4 md:pb-[89px];
}

.search__input {
  @apply hidden w-56 bg-gray-input rounded-3xl pl-[2.375rem] pr-7 py-[0.375rem] font-medium text-xs placeholder-black text-black focus:outline-none md:block;
}

.search__img {
  @apply cursor-pointer absolute top-0 left-0 h-full w-7 flex items-center md:cursor-default md:justify-end;
}

.search__close {
  @apply hidden cursor-pointer w-7 h-full justify-start items-center absolute right-0 top-0 md:flex;
}

.user__img {
  @apply rounded-full w-6 h-6 mr-3 md:mr-0;
}

.user__text {
  @apply hidden font-bold text-xs opacity-60 tracking-wider ml-2 mr-11 md:block;
}

.page-title {
  @apply font-bold text-[40px] tracking-wide mb-10 text-center md:text-left;
}

.section-title {
  @apply font-bold tracking-tighter text-2xl mb-5 md:pb-[3px] md:border-b-2 md:border-b-gray-line;
}

.songs-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
  @apply overflow-x-scroll overflow-y-hidden grid gap-x-10 grid-cols-songs w-full;
}

.songs-list::-webkit-scrollbar {
  display: none;
}

.card-song {
  @apply w-[162px] cursor-pointer md:w-[233px];
}

.card-song__cover {
  @apply w-full object-cover drop-shadow-cover-pic;
}

.card-title {
  @apply pt-2 font-bold text-sm break-words;
}

.card-song__singer {
  @apply pt-[6px] text-xs opacity-60;
}

.artists-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
  @apply grid grid-cols-artists gap-x-8 overflow-x-scroll overflow-y-hidden;
}

.artists-list::-webkit-scrollbar {
  display: none;
}

.card-artist {
  @apply w-32 text-center cursor-pointer md:w-40;
}

.card-artist__img {
  @apply w-full rounded-full object-cover;
}

.dropdown-menu {
  @apply absolute right-0 z-20 mt-2 w-56 origin-top-right rounded-md bg-gradient-dropdown focus:outline-none;
}

.dropdown-menu__link {
  @apply block px-4 py-2 opacity-60;
}

.dropdown-menu__btn {
  @apply block w-full px-4 py-2 text-left opacity-60;
}
